[submodule "suckless/dwm"]
	path = suckless/repos/dwm
	url = https://git.suckless.org/dwm
	ignore = dirty
[submodule "suckless/dmenu"]
	path = suckless/repos/dmenu
	url = https://git.suckless.org/dmenu
	ignore = dirty
[submodule "suckless/st"]
	path = suckless/repos/st
	url = https://git.suckless.org/st
	ignore = dirty
[submodule "suckless/slock"]
	path = suckless/repos/slock
	url = https://git.suckless.org/slock
	ignore = dirty
[submodule "suckless/repos/slstatus"]
	path = suckless/repos/slstatus
	url = https://git.suckless.org/slstatus
	ignore = dirty
